<h1>Login</h1>
<form class="login-form" [formGroup]="loginForm" (submit)="onLogin($event)">
  <mat-form-field>
    <mat-label for="username">Username</mat-label>
    <input matInput formControlName="username" />
    <mat-error
      *ngIf="
        loginForm.get('username')!.hasError('required') &&
        loginForm.get('username')!.touched
      "
    >
      Please enter a valid email</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label for="password">Password</mat-label>
    <input matInput formControlName="password" />
    <mat-error
      *ngIf="
        loginForm.get('password')!.hasError('required') &&
        loginForm.get('password')!.touched
      "
    >
      Please enter a valid password</mat-error
    >
  </mat-form-field>
  <ng-container *ngIf="!loading; else spinner">
    <button mat-raised-button type="submit">Login</button>
  </ng-container>
</form>

<ng-template #spinner>
  <mat-spinner class="spinner" diameter="50"></mat-spinner>
</ng-template>
